.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

button {
  background: #00cec9;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background: #098;
}
.theme-toggle-btn {
 position: absolute;
 top: 15px;
 right: 15px;
 background-color: transparent;
 border: none;
 font-size: 24px;
 cursor: pointer;
}
